<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    #id{
        background-color: yellow;
    }
</style>


<body>
    <h5> Welcome to home page</h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolores quas ab enim maxime aspernatur natus exercitationem in sequi labore cum mollitia qui doloribus eaque delectus suscipit, tempore architecto! Delectus.</p>
</body>
</html>