<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Image/WebTutorial.png" type="image/x-icon">
    <title>Web Tutorial</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--fontAwsesome styel-->
    <link rel="stylesheet" href="../Styles/page.css">
   
</head>

<body>
    <header>
        <div>
            <h4>Web Technology</h4>
        </div>
        <nav>
            <a href="./Home.html" id="contentpage" target="contentpage">Home</a>
            <a href="./About.html" id="contentpage" target="contentpage" tabindex="1">About</a>
            <a href="./Product.html" id="contentpage" target="contentpage" tabindex="1">Product</a>

        </nav>
        <button onclick="logout()">Logout</button>
    </header>
    <main>
        <iframe name="contentpage" id="contentpage" src="./Home.html" frameborder="0" ></iframe>
    </main>
    <footer>
        &copy; Unique college 2025
        <pre style="margin-top: 10px;"> 
        </pre>
        <address>
            Person Name: Ram
            <i class="fa fa-mobile-phone"></i> : +91 9715838126
            <i class="fa fa-instagram"></i> : rkram_1423 &hearts;
            Tirupattur
        </address>


    </footer>
    <script src="../Javascript/logout.js"></script>

</body>

</html>